.druid, .druid a{
    color: #FF973E !important;
    border-color: #FF973E !important;
}
.druid_shadow:hover{
    box-shadow: 0px 0px 5px 5px #FF973E !important;
}
.druid_background{
    background-color: #FF973E !important;
}
.druid_bg{
    background-image: url('../images/bgs/druid.jpg');
    background-repeat: repeat; background-size: auto; background-position-y: 100px;
}
.mage, .mage a{
    color: #0094D9 !important;
    border-color: #0094D9 !important;
}
.mage_shadow:hover{
    box-shadow: 0px 0px 5px 5px #0094D9 !important;
}
.mage_background{
    background-color: #0094D9 !important;
}
.mage_bg{
    background-image: url('../images/bgs/mage.jpg');
    background-repeat: repeat; background-size: auto; background-position-y: 100px;
}
.warlock, .warlock a{
    color: #6D5AAB !important;
    border-color: #6D5AAB !important;
}
.warlock_shadow:hover{
    box-shadow: 0px 0px 5px 5px #6D5AAB !important;
}
.warlock_background{
    background-color: #6D5AAB !important;
}
.warlock_bg{
    background-image: url('../images/bgs/warlock.jpg');
    background-repeat: repeat; background-size: auto; background-position-y: 100px;
}
.hunter, .hunter a{
    color: #80AD42 !important;
    border-color: #80AD42 !important;
}
.hunter_shadow:hover{
    box-shadow: 0px 0px 5px 5px #80AD42 !important;
}
.hunter_background{
    background-color: #80AD42 !important;
}
.hunter_bg{
    background-image: url('../images/bgs/hunter.png');
    background-repeat: repeat; background-size: auto; background-position-y: 100px;
}
.warrior, .warrior a{
    color: #A67843 !important;
    border-color: #A67843 !important;
}
.warrior_shadow:hover{
    box-shadow: 0px 0px 5px 5px #A67843 !important;
}
.warrior_background{
    background-color: #A67843 !important;
}
.warrior_bg{
    background-image: url('../images/bgs/warrior.jpg');
    background-repeat: repeat; background-size: auto; background-position-y: 100px;
}
.priest, .priest a{
    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}
.priest_shadow:hover{
    box-shadow: 0px 0px 5px 5px #FFFFFF !important;
}
.priest_background{
    background-color: #FFFFFF !important;
}
.priest_bg{
    background-image: url('../images/bgs/priest.jpg');
    background-repeat: repeat; background-size: auto; background-position-y: 100px;
}
.shaman, .shaman a{
    color: #0B48FF !important;
    border-color: #0B48FF !important;
}
.shaman_shadow:hover{
    box-shadow: 0px 0px 5px 5px #0B48FF !important;
}
.shaman_background{
    background-color: #0B48FF !important;
}
.shaman_bg{
    background-image: url('../images/bgs/shaman.jpg');
    background-repeat: repeat; background-size: auto; background-position-y: 100px;
}
.paladin, .paladin a{
    color: #EB66A0 !important;
    border-color: #EB66A0 !important;
}
.paladin_shadow:hover{
    box-shadow: 0px 0px 5px 5px #EB66A0 !important;
}
.paladin_background{
    background-color: #EB66A0 !important;
}
.paladin_bg{
    background-image: url('../images/bgs/paladin.jpg');
    background-repeat: repeat; background-size: auto; background-position-y: 100px;
}
.rogue, .rogue a{
    color: #E3D741 !important;
    border-color: #E3D741 !important;
}
.rogue_shadow:hover{
    box-shadow: 0px 0px 5px 5px #E3D741 !important;
}
.rogue_background{
    background-color: #E3D741 !important;
}
.rogue_bg{
    background-image: url('../images/bgs/rogue.jpg');
    background-repeat: repeat; background-size: auto; background-position-y: 100px;
}
