#tabs {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
}
#top_bar {
  width: 100%;
  height:358px;
  visibility: hidden;
  /*background: black;*/
}
#selection { 
  text-align: center;
}
#card_number {
  padding: 8px;
  padding-right:14px;
}
#cards {
  text-align: center;
  clear: both;
  display: none;
  /*opacity: 0.8;*/
}
.confirm {
  float: left;
  color: white;
}
#inside_cover {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image:
  /*
    linear-gradient(90deg,#4a341d 12%,#251A0E 28%,transparent 50%),
    linear-gradient(90deg,transparent 46%,#251A0E 67%,#4a341d 95%),
    linear-gradient(180deg,transparent 20%,#4a341d 36%),
    linear-gradient(180deg,transparent 20%,#4a341d 36%);*/
  /*linear-gradient(90deg,#4a341d 0%,#251A0E 18%,transparent 50%),
  linear-gradient(90deg,transparent 51%,#251A0E 78%,#4a341d 100%),
  linear-gradient(180deg,transparent 20%,#4a341d 36%),
  linear-gradient(180deg,#4a341d 0%,transparent 14%);*/
  visibility: hidden;
}
#inside_image {
  z-index: -2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.cardselected {
  background-repeat: no-repeat;
  /*background-position: 16px -30px !important; /*medium sized*/
  /*background-position: -37px -64px; /*full sized*/
  height: 100%;
  visibility: visible !important;
}
.card1, .card2, .card3 {
  background-repeat: no-repeat;
  width:306px;
  height:358px;
  /*width:241px;*/
  display: block;
  float: left;
  /*background-position: -33px -75px;*/
  position: relative;
  overflow: auto;
}

/* other */
.content {
  height: 100%;
}
.search {
  padding: 0; margin: 0;
}
.ui-button-text {
  padding: 0;
}
.list {
  font-family:sans-serif;
  margin:0;
  padding:0px 0 0;
  background-color: transparent;
}
.list > li {
  display:block;
  padding:0px;
}

img {
  max-width: 100%;
}
h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
p {
  margin:0;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}

/*always show scrollbars*/
html,body {
  /*overflow-y: scroll;*/
  height: 100%;
  font-family: arial;
}