#tabs {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 400px;
}
#top_bar {
  width: 100%;
  visibility: hidden;
}
#selection { 
  text-align: left;
  height:100%;
}
#cards {
  text-align: left;
  clear: both;
  display: none;
  /*opacity: 0.8;*/
}
#card_number {
  padding: 8px;
  padding-right:14px;
  color: #000;
  margin-top: 100px;
  font-weight: bold;
}
.confirm {
  float: left;
  color: white;
}
.card1, .card2, .card3 {
  overflow-y: scroll;
  border: 0px;
  border-right: 2px;
  border-color: black;
  border-style: solid;
  width:250px;
  height:100%;
  display: block;
  float: left;
  position: relative;
}

.capital {
  text-transform: capitalize;
  font-weight: bold;
}
/* other */
.highlight {
  font-weight: bold;
  opacity: 1.0;
}
.glow {
  /*box-shadow:0 0 30px #AA6F2B;*/
}
#synergies {
  margin: 0px;
}
.search {
  padding: 0; margin: 0;
}
.ui-button {
  padding: 0;
}
.list {
  font-family:sans-serif;
  margin:0;
  padding:0px 0 0;
  background-color: transparent;
}
.list > li {
  display:block;
  padding:0px;
}
input {
  width: 100px;
}
img {
  max-width: 100%;
}
h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
p {
  margin:0;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}

#top_message_0, #top_message_1, #top_message_2 {
  height: 50px;
}
/*always show scrollbars*/
html,body {
  font-family: "Palatino Linotype", Times, serif;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
form {
  display: inline;
  padding: 0;
  margin: 0;
}  
/*js*/
#synergies .item{
  margin: 3px;
}
#synergies .item img{
  display: block;
  width: 100;
  height: auto;
}
#card_count {
  position: absolute;
  margin-right: 20px;
  font-weight: bold;
  right: 0;
  font-size: 125%;
}
.content {
  margin-top: 100px;
  color: #000;
  max-width: 1024px;
}
.header {
  background: #28353f;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  color: white;
  z-index: 10;
}
#login_status {
  text-align: right;
  position: absolute;
  top: 50%;
  margin-top:-2em;
  right: 5%;
}